/* first section values = width: 1030px height: 550px*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}
/* first section and header */
.frontpage{
    
    background-color: #1F2937;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}
.header h2{
    color:#f9faf8;
}
.header a{
    font-size: 18px;
    color: #e5e7eb;
    cursor: pointer;
}
.header ul{
    display: flex;
    gap: 32px;
}
.content{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 55px;
}
.mainSection{
    max-width: 520px;
    max-height: 240px;
    flex: 1 1 0;
}
.mainSection h1{
    font-size: 48px;
    color:#f9faf8
}
.mainSection p{
    font-size: 18px;
    color: #e5e7eb;
}
.mainSection button{
    margin-top: 12px;
    background-color: #3882f6;
    font-weight: bold;
    color: #f9faf8;
    padding: 8px 24px;
    border: none;
    border-radius: 5px;
}
.img{
    max-width: 520px;
    max-height: 240px;
    flex: 1 1 0;
    background: #6D747D;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* second section */
.midSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    color:#000;
}
.midContainer{
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
}
.midContainer h2{
    font-size: 36px;
    font-weight: bolder;
}
.squareSection{
    padding-top: 34px;
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
}
.square{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 165px;
    flex: 1;
    

}
.square p{
    display: flex;
    flex-wrap: wrap;
    
    
}
.item{
    border: 4px solid #3882f6;
    width: 165px;
    height: 165px;
    border-radius: 8px;
    margin-bottom:8px;
}